<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- verbose = "2" para dar todos los detalles posibles
    thread-count = 3 porque solo son 3 scenarios
    parallel= classes para correr las clases en paralelo (como solo
        tengo una clase, no sirve de gran cosa... -->
<suite name="OpenSauce Test" verbose="2" parallel="classes" thread-count="3">
    <test name="Login Page Tests">
        <classes>
            <!-- La clase que voy a correr -->
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>